/********Whole body part********************/
html, body{height: 100%; margin: 0px; background-color: rgb(204, 198, 198);}
.main-body{overflow: auto; margin: 0px 280px 0px 100px; background-color: white; height: 100%;padding:0px 30px 0px 30px;box-shadow: 5px 5px  rgb(128, 128, 128); }


/****************YueRan hope header part*************/

header.clearfix{overflow:auto;width:100%; border-bottom: 2px solid grey; padding-bottom: 30px;}
.main-title{float: left; }

/*nav part*/
.nav-div{float: right;}
.nav-div ul a{
    text-decoration: none;
}

.nav-div ul li{
    list-style-type: none;
    float: left;
    padding-right: 7px;
    padding-left: 5px;
    border-right: 2px solid grey;
}

/****************Body part***********************/
.main.clearfix{overflow: auto;  padding-top: 15px; padding-bottom: 30px;}
.left-part{width: 70%; float: left;}
.right-part{right:30%; float: right;}
.right-part img{width: 389px; height: 350px;}


/*********Footer part*************************/
footer{border-top: 2px solid grey; overflow: auto; position: relative; bottom:0;  padding-top: 20px;background-color: yellow; margin: 0px 280px 0px 100px; padding:0px 30px 0px 30px; box-shadow: 5px 5px  rgb(128, 128, 128);}
.footer-div{overflow: auto;  padding-left:20px; padding-right: 10px;}

.contactus{width:30%; float: left; }
.sitemap{width:30%;float: right; }
.sitemap ul a{text-decoration: none;}
.sitemap ul li{list-style-type: none; padding: 0;}

.sitemap ul{
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 0em;
   
    padding: 0;
    margin:0;
    width: 230px;

    
}


